        body {
            background-image: url('../images/school-supplies.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }